<div class="container-fluid"> 
  <form [formGroup]="FlightForm">
    <div class="row custom-row p-1">
      <div class="col-md-3">
        <div class="input-group-sm py-2">
          <input type="text" class="form-control custom-input" placeholder="Partenza" aria-label="Partenza" formControlName="origin">   
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group-sm py-2">
          <input type="text" class="form-control custom-input" placeholder="Arrivo" aria-label="Arrivo" formControlName="destination"> 
        </div>
      </div>
      <div class="col my-auto">
        <div class="row justify-content-end">
          <a for="departureDate"> Data Partenza: </a>
        </div>
      </div>
      <div class="col">
        <div class="input-group-sm py-2">
          <input type="date" class="form-control custom-input" id="departureDate" formControlName="departure_date"> 
        </div>
      </div>
      <div class="col">
        <div class="py-2 text-center">
          <button type="button" (click)="showFlight()" class="btn btn-sm custom-buttom"> Invia </button>
        </div>
      </div>
    </div>
  </form>
</div>

