<div class="container-fluid">
    <div class="card body-card">
        <div class="card-body">
            <h5 class="card-title border-bottom p-1">Volo</h5>
            <p class="card-text"> Destinazione: {{flight.destination}}</p>
            <p class="card-text"> Data Partenza: {{flight.departure_date}}</p>
            <p class="card-text"> Data Arrivo: {{flight.return_date}}</p>
            <p class="card-text"> Prezzo: {{flight.price}}</p>
            <p class="card-text"> Aereo: {{flight.airline}}</p>
        </div>
    </div>
</div>
