.color{
    background: #000080;
    color: white;
}

.custom-row{
    box-shadow: 4px 4px 8px #b1b1b1;
    border-radius: 50px;
}

.custom-input{
    border-radius: 30px;
}

.custom-buttom{
    border-radius: 30px;
    background: #1E90FF;
    color: white;
    width: 80px;
}